<div id="timer" >
    <div id="input-container"  ng-class=" {alerting : isAlerting()}">
      <input id="min" type="number" ng-model="timer.min">:<input id="sec" type="number" ng-model="timer.sec">
    </div>
    <div id="plus-one-container">
      <md-button id="plus-one" data-ng-click="plusOne()" class="md-fab" >+1'</md-button>
    </div>
  </div>
  
  <div id="controls">
    <md-button class="control" data-ng-click="start()"><img src="bower_components/material-design-icons/av/1x_web/ic_play_arrow_white_48dp.png"></img></md-button>
    <md-button  class="control" data-ng-click="stop()"><img src="bower_components/material-design-icons/av/1x_web/ic_stop_white_48dp.png"></img></md-button>
    <md-button class="control"  data-ng-click="reset()"><img src="bower_components/material-design-icons/av/1x_web/ic_replay_white_48dp.png"></img></md-button>
  </div>
  
  <md-progress-circular id="progress" class="md-hue-2 md-primary" md-mode="determinate" value="{{progress}}" style="position: absolute; right: 15px; botton: 15px;"></md-progress-circular>
  

